<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} - 在线工具集</title>
    <!-- 网站图标 -->
    <link rel="icon" type="image/png" sizes="32x32" href="/tools/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/tools/static/icons/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/tools/static/icons/apple-touch-icon.png">
    <link rel="manifest" href="/tools/static/site.webmanifest">
    <!-- 其他元数据 -->
    <meta name="description" content="在线工具集 - 提供各种实用的在线工具">
    <meta name="theme-color" content="#ffffff">
    <!-- 样式表 -->
    <link rel="stylesheet" href="/tools/static/css/tailwind.min.css">
    <link rel="stylesheet" href="/tools/static/css/style.css">
</head>
<body>
    {{template "content" .}}
</body>
</html> 